<html>
<head>
  <h1 class="h1">FLIGHT FEEDBACK SYSTEM</h1>
  <title>profiles</title>
  <link rel="stylesheet" href="profiles.css">
</head>
<body class="bod">
  <form class="que" action="quest" method="post">
    <label>question</label><br>
    <input type="text" name="quest"  class="ques" placeholder="post a question">
    <label>id</label>
    <input type="text" name="id" placeholder="id">
    <button type="submit">post</button>
    </div>
    </form>
    <form class="an" action="answ" method="post">
        <label>answer</label><br>
    <input type="text" name="answ" class="ans" placeholder="post an answer">
    <label>id</label>
    <input type="text" name="id" placeholder="id">
    <button>post</button>
    </form>
    <div class="dv">
      <div class="d1">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        ACCOUNT SECTION<BR>
                         </div>
<form action="/feed" method="post" >
  <div class="flip-card-back">
    <h3>FEEDBACK</h3>
   <label>Suggestion</label><br>
    <input type="text"  name="feed1" placeholder=""><br>
  
    <label>id</label><br>
    <input type="text"   name="id" placeholder="">
    <button  type="submit">post</button>
  </div>
</div>
</form>
</div>
      <div class="d2">
          <div class="flip-card-inner">
              <div class="flip-card-front">
          AVIATION DEPARTMENT<BR>
            
                  </div>
                  <form action="/feed1" method="post" >
                  <div class="flip-card-back">
                      <h3>FEEDBACK</h3>
                     <label>Suggestion</label><br>
                      <input type="text"  name="feed1" placeholder=""><br>
                    
                      <label>id</label><br>
                      <input type="text"   name="id" placeholder="">
                      <button  type="submit">post</button>
                    </div>
        </div>
      </form>
        </div>
        <div class="d3">
            <div class="flip-card-inner">
                <div class="flip-card-front">
            MAINTENANCE<BR>
             
                    </div>
                    <form action="/feed2" method="post" >
                    <div class="flip-card-back">
                      <h3>FEEDBACK</h3>
                     
                      <label>Suggestion</label><br>
                      <input type="text"  name="feed2" placeholder=""><br>
                    
                      <label>id</label><br>
                      <input type="text"   name="id" placeholder="">
                      <button  type="submit">post</button>
                      </div>
             </div>
            </form>
          </div>
          <div class="d4">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
              SECURITY<BR>
               
                      </div>
                      <form action="/feed3" method="post" >
                      <div class="flip-card-back">
                        <h3>FEEDBACK</h3>
                     
                        <label>Suggestion</label><br>
                        <input type="text"  name="feed3" placeholder=""><br>
                      
                        <label>id</label><br>
                        <input type="text"   name="id" placeholder="">
                        <button  type="submit">post</button>
                        </div>

            </div>
          </form>
    </div>
</body>
</html>